global
    maxconn 1000
    log stdout format raw local0

defaults
    log global
    mode tcp
    retries 2
    timeout client  30m
    timeout connect  4s
    timeout server  30m
    timeout check    5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
    stats show-node

# Port 5432 → primary only
frontend postgres_write
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 172.21.0.11:5432 maxconn 300 check port 8008
    server node2 172.21.0.12:5432 maxconn 300 check port 8008
    server node3 172.21.0.13:5432 maxconn 300 check port 8008

# Port 5433 → replicas only
frontend postgres_read
    bind *:5433
    default_backend postgres_replicas

backend postgres_replicas
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 172.21.0.11:5432 maxconn 300 check port 8008
    server node2 172.21.0.12:5432 maxconn 300 check port 8008
    server node3 172.21.0.13:5432 maxconn 300 check port 8008
