# Docker
LDAP_ORGANISATION=example
LDAP_DOMAIN=example.com
LDAP_ADMIN_PASSWORD=your_admin_password

# Scripts
LDAP_HOST=192.168.1.x
LDAP_PORT=389
BASE_DN=dc=example,dc=com
BIND_DN=cn=admin,dc=example,dc=com
BIND_PW=your_admin_password
MAIL_DOMAIN=example.com

# Backup
BACKUP_DIR=/opt/openldap/backups
KEEP_DAYS=7
